{
	auto_https off
}

:8080 {
	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
		Content-Security-Policy "default-src 'self'; connect-src 'self' https://www.ebi.ac.uk https://wwwdev.ebi.ac.uk; img-src 'self' data: https:; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://ebi.emblstatic.net; font-src 'self' data: https://fonts.gstatic.com https://ebi.emblstatic.net; script-src 'self'; frame-ancestors 'none'; base-uri 'self'; form-action 'self'"
	}

	handle_path {$PUBLIC_URL}* {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
